<main class="">
  <div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-3">
      <div class="col-lg-5 text-center text-lg-start mb-3">
        <figure>
          <img src="https://i.namu.wiki/i/y5RKivbH2o1cxwls2onv2ZT3_t__nh2dXpAkwjBzNCZSsCANiKs3271AcY9il9oH2bm9GJySFJw2_W2_eJtOl-K7NPL2ZL7JNMBwbnGB7ViaYOQ9r_kccy7Msri6kxC5vfygirPCHEVQ-qvKk5yixw.webp" />
        </figure>
      </div>

      <div class="col-md-10 mx-auto col-lg-7 mb-5">
        <!-- Inspiration: https://codepen.io/abol/pen/arPeZz -->
        <h1 class="display-4">Minsu Kim</h1>
        <p>
          Minsu Kim is DaebudoKing. Daebudo is a district located in Danwon-gu,
          Ansan, Gyeonggi Province, South Korea. 
          It is situated in the southwestern part of Ansan and is known for its vibrant commercial activities and convenient transportation,
          particularly centered around Daebudo Station. The area features numerous shops,
          restaurants, cafes, and other amenities, making it a bustling hub for residents and visitors alike.
        </p>
      </div>
    </div>
  </div>
</main>
